h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 3rem;
    color: var(--select-clicked);
}

#data-analytics-dashboard {
    width: 150px;
    height: 150px;
}

#power-system-state {
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.8rem;
    background-color: var(--select);
    color: var(--menu-color);
    border-radius: var(--border-radius);
}

.power-system-state-lbl {
    color: var(--select-color);
}

.chartBox {
    margin-top: 20px;
    visibility: hidden;
    width: 80%;
    height: auto;
}

canvas {
    margin-top: 70px;
}

.info-text {
    background-color: var(--menu-bg);
    padding: 10px;
    line-height: 1.3rem;
    border: 1px solid;
    border-color: var(--menu-border);
    border-radius: var(--border-radius);
}

footer,
#copyright
{
    opacity: 0.5;
    text-align: center;
    padding: 50px;
    color: var(--menu-color);
    text-shadow: 0.1em 0.3em 0.4em var(--dark-grey);
}


@media screen and (max-width: 768px) {
    .chartBox {
        width: 100%;
    }

    canvas {
        margin-top: 20px;
    }
}

@media(hover: hover) {

    .info-text a:hover {
        color: var(--the-pink);
    }

    #data-analytics-dashboard:hover {
        opacity: 0.6;
        filter: invert(100%) drop-shadow(0 0 30px #9fa5b5);
        transition: ease-in-out 0.3s; 
    }

  }