body
{
    background-color: var(--body-bg);
    background-image: url('../imgs/power-company-logo.svg');
    background-size: 150px 150px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem;
    margin-top: 3rem;
    /* color: var(--select-clicked); */
    color: var(--select-color);
}

.chartBox {
    margin-top: 20px;
    width: 80%;
    height: auto;
    background-color: rgba(99, 92, 92, 0.3);
    padding: 20px;
    /* glassmorphism */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 3px rgba (0,0, 0,0. 089) ;
    border-radius: 30px;
}

/* .content-block {
    background-color: transparent;
} */

canvas {
    margin-top: 70px;
}

.info-text {
    background-color: var(--menu-bg);
    padding: 10px;
    line-height: 1.3rem;
    border: 1px solid;
    border-color: var(--menu-border);
    border-radius: var(--border-radius);
}

footer,
#copyright
{
    opacity: 0.5;
    text-align: center;
    padding: 50px;
    color: var(--menu-color);
    text-shadow: 0.1em 0.3em 0.4em var(--dark-grey);
}

@media screen and (max-width: 768px) {
    .chartBox {
        width: 100%;
    }
}
